.bg{
    width: 100vw;
    height: 75vh;
}

.data{
    background-color: black;
    position: relative;
    top: -35px;
    padding: 6px;
    display: flex;
    justify-content: space-around;
}

.text{
    color: aliceblue;
    
}

.text h1{
    font-weight: 1000;
    font-size: 3rem;
    margin-bottom: 5px;
}

.text span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    align-items: center;
}

.form{
    position: absolute;
    right: 4vw;
    top: 12.4vh;
}