

.card{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 30vh;
    width: 33vw;
    padding: 25px;
    border-radius: 20px;
    margin: 20px;
}

.card span{
    padding: 20px;
    font-size: 1.3rem;
}
.para{
    padding-left: 20px;
}

.profile{
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

.name{
    margin-left: 20px;
    font-size: smaller;
    padding: 10px;
    margin-top: 12px;
}
    
.profile img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    
}


@media (max-width: 850px){
    .card span{
        padding: 10px;
        font-size: 0.9rem;
    }

    .para{
        padding-left: 10px;
        font-size: 0.6rem;
    }

    .profile img{
        
        width: 20px;
        height: 20px;
    
        
    }
    .name{
        margin-left: 20px;
        font-size: 0.4rem;
        padding: 7px;
        margin-top: 12px;
    }
    .profile{
        margin-top: -10px;
    }

    
}



