
.form{
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid black;
width: 30vw;
height: 60vh;
padding: 10px;
border-radius: 15px;
margin: 100px;
box-shadow: 10px 14px 8px rgba(2, 0, 0, 0.9);
background-color:white;

}

.inp{
    margin-bottom: 20px;
    width: 23vw;
    padding: 10px;
    border: 1px solid rgb(146, 146, 146);
}

.slct{
    margin-bottom: 20px;
    width: 24vw;
    padding: 10px;
    border: 1px solid rgb(146, 146, 146);
    
}
.slct option {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(107, 107, 107);
}

.error{
    display: flex;
    align-items: center;
    color: red;
    position: relative;
    top: -10px;
    height: 8px;
    padding: 0px;
}

.form input ::placeholder{
    color: rgb(186, 110, 23);
}


.submit button  {
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(189, 12, 12);
  border: none;
  padding: 10px;
  width: 24.6vw;
  height: 6vh;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submit button:hover{
    cursor: pointer;
}


/* responsive code */
@media (max-width: 850px){

    .submit button {
     
        border-radius: 10px;
       
        margin-bottom: 20px;
        width: 76vw;
    }

    .form{
        padding: 5px;
        margin: 10px;
        height: 50vh;
        /* padding-top: 20px; */
        width: 70vw;
    }

    .form h1{
        font-size: 1.6rem;
        margin-left: 20px;
    }
   
    .inp{
       
        width: 45vw;   
      
    }

    .slct{
        width: 47.5vw;   
      
    }
    
 
}

