
.form{
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid black;
width: 27vw;
/* height: 60vh; */
padding: 20px;
border-radius: 15px;
margin: 100px;
box-shadow: 10px 14px 8px rgba(2, 0, 0, 0.9);
background-color:white;
height: auto;
}

.form span{
  color: red;
}

.reactbtn{
  font-weight: 500;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 24.5vw;
  /* margin-bottom: 20px; */
 
}

.schedule{
  font-weight: 500;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 17vw;
  text-align: center;
  background-color: black;
}

.label{
  font-weight: 600;
}
.toppass{
  display: flex;
}

.form-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 70px;
 margin-top: 10px;
}

.email
{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.inputfield{
  margin-top: 10px;
  border-radius: 2px;
  width: 12vw;
  height: 20px;
  padding: 5px;
  border: none;
}
.inputfield::placeholder{
  color: grey;
}




/* responsive code */
@media (max-width: 850px){

    .submit button {
     
        border-radius: 10px;
       
        margin-bottom: 20px;
        width: 76vw;
    }

    .form{
        padding: 5px;
        margin: 10px;
        height: auto;
        /* padding-top: 20px; */
        width: 70vw;
        background-color: white;
    }
    .form-box {
        height: auto; 
    }

    .form h1{
        font-size: 1.6rem;
        margin-left: 20px;
    }
   
    .inp{
       
        width: 45vw;   
      
    }

    .slct{
        width: 47.5vw;   
      
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    
 
}

@media((min-width:100px) and (max-width: 300px)) {
    .form {
      height: auto;
      background-color: white;
      width: 60vw; 
    }

    
    .form h1{
        font-size: 1rem;
        width: 55vw;
    }
    .inp{
       
        width: 45vw;   
      padding: 2px;
    }

    .slct{
        width: 47.5vw;   
       padding: 2px;
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
} 

@media((min-width:301px) and (max-width: 380px)) {
    .form {
      height: auto;
      background-color: white; 
    }

    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

  
@media((min-width:381px) and (max-width: 400px)) {
    .form {
      height: auto;
      background-color: white; 
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}
   
@media((min-width:410px) and (max-width: 550px)) {
    .form {
      height: auto;
      background-color: white;
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}
   
@media((min-width:551px) and (max-width: 770px)) {
    .form {
      height: auto;
      background-color: white; 
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}
 
  @media((min-width:772px) and (max-width: 1050px)) {
    .form {
      height: auto;
      background-color: white;
       
    }
    .leftpass{
      margin-right: 30px;
    }

    .label{
      font-size: 0.6rem;
    }
    .inputfield{
      font-size: 0.5rem;
    }

    .form-box{
      padding: 15px;
      padding-left: 25px;
    }
    .reactbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule{
      font-size: 0.8rem;
      display: flex;
      padding: 5px;
      width: 55vw;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

  
  

