.explore{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    position: relative;
    z-index: 20;
    
}
.explore img{
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: 90px;

}
.heading{
    margin-top: 100px;
    font-weight: bolder;
    font-size: 2.6rem;
}
.sub-heading{
    margin-top: 20px;
    font-weight: 500;
    font-size: 1rem;
}


.sixth{
    display: flex;
    width: 50vw;
    height: 50vh;
    margin: 90px;
    align-items: center;
    justify-content: center;
    background-position: center
}
.img6l{
    position: relative;
    left: 6vw;
}
.img6r{
   
    position: relative;
    right: 6vw;
}

.line{
    position: absolute;
    width: 10px;
    height: 508vh;
    background-color: rgb(18, 17, 17);
    right: 49vw; 
    z-index: 2;
    top: 49vh;
    left: 49.2vw;
}

.managed{
    position: relative;
    left: 10px;
}

.meeting-room{
    position: relative;
    left: 10px;
}

.interview-room{
    position: relative;
    left: 10px;
}

/* 
.attrium-container{
    position: relative;
    width: 100vw;
}

.attrium{
    width: 100vw;
    height: 50vh;
} */







@media (max-width: 850px){
    .heading{
        font-size: 2rem;
    }
    .sub-heading{
        font-size: 0.8rem;
    }

    .explore img{
       
        width: 70vw;
        height: 35vh;
        margin: 10px;
        opacity: 2;
    }

    .line{
        display: none;
    }

    
.sixth{
   
    width: 60vw;
    height: 35vh;
    margin: 10px;
    margin-left: 10vw;
    margin-left: -0vw;
}

.sixth .img6l{
   left: 2vw;
    width: 35vw;
    
    height: 35vh;
   
}

.sixth .img6r{
   
    
    right: 2vw;
    width: 35vw;
    height: 35vh;

}

    


}
