.service-slider{
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.arrow{
    scale: 0.7;
}


.heading-slider{
    font-size: 2.7rem;
    font-weight: bolder;
    margin-top: 150px;
    margin-bottom: 10px;
}


.lower-title{
    font-weight: 400;
    margin-bottom: 100px;
}


.service-slider .swiper-pagination-bullet-active {
    background-color: rgb(19, 19, 19); /* Set active bullet color */
  }


  
  @media (max-width: 768px){
    
   .heading-slider{
    font-size: 1.4rem;
   }
   .lower-title{
    font-size: 0.8rem;
   }

     
    }
    