.service-slider{
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.arrow{
    scale: 0.7;
}
.slider-container{
    background-color: #F4F4F4;
    position: relative;
    border: none;
}

.heading-slider{
    font-size: 2.7rem;
    font-weight: bolder;
    margin-top: 150px;
    margin-bottom: 10px;
}


.lower-title{
    font-weight: 400;
    margin-bottom: 100px;
}


.service-slider .swiper-pagination-bullet-active {
    background-color: rgb(19, 19, 19); /* Set active bullet color */
  }

  .service-slider{
    height: 70vh;
    padding-top: 50px;
  }


  
  @media (max-width: 850px){
    
   .heading-slider{
    font-size: 1.4rem;
    text-align: center;
   }
   .lower-title{
    font-size: 0.8rem;
    text-align: center;
   }


   .service-slider{
    width: 90vw;
    height: 80vh;
}
.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80vh; */
}

.lower-title{
    
    margin-bottom: 30px;
}
.heading-slider{
    
    margin-top: 50px;
    
}
     
}
    