.bottom{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
    padding: 20px;
    padding-bottom: 30px;
    border: none;
}
.bottombg{
    position: absolute;
    z-index: -2;
    border: none;
    width: 100vw;
    top: -40px;
    opacity: 0.8;
}

.bottom-text{
    margin-top: 30px;
    font-size: 1.5rem;
}
.bold{
    font-weight: 900;
}

.bottom-btn{
    border-radius: 20px;
    margin-left: 100px;
    padding-left: 22px;
    padding-right: 22px;
}
.bottom-btn2{
    border-radius: 20px;
    margin-left: 58px;
    color: black;
    background-color: white;
    border: 1px solid black;
}


@media (max-width: 850px){
    .bottombg{
       
        top: 14px;
        opacity: 0.8;
    }
    .bottom{
       
        margin-top: 100px;   
        margin-bottom: 100px;
    }

    .bottom-text{
        margin-top: 1px;
        font-size: 0.7rem;
    }
    .bottom-btn{
        border-radius: 20px;
        margin-left: 20px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.6rem;
    }
    .bottom-btn2{
        border-radius: 20px;
        margin-left: 1px;
        
        border: 1px solid black;
       padding: 5px;
        font-size: 0.6rem;
    }
    
}